.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
  box-sizing: border-box;

  @media (max-width: 600px) {
    margin: 0;
    padding: 16px;
  }
}
